* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --Soft-Pink: hsl(333, 80%, 67%);
}

body * {
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
}

.container {
  width: 82%;
  margin: 5em auto;
}

header {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin-bottom: 2em auto;
}

.apresent {
  width: 50%;
}

header .title {
  font-size: 2.7em;
  margin-bottom: 1em;
  width: 50%;
  color: var(--Very-Dark-Magenta);
}

header .titleparagraph {
  word-spacing: .3em;
  width: 75%;
  color: var(--Dark-Grayish-Magenta);
  line-height: 1em;
}

header .itens {
  width: 60%;
}

header .itens ul {
  list-style: none;
}

header .first,
header .second,
header .third {
  height: 3.5em;
  padding: 1em 1.5em .7em;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: .5em;
  width: 37%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

/* header .first,
header .third {
  width: 31%;
} */

header .itens .first {
  position: absolute;
  top: 7%;
  left: 50%;
}

header .itens .second {
  position: absolute;
  top: 42%;
  left: 55%;
}

header .itens .third {
  position: absolute;
  top: 78%;
  left: 60%;
}

header .itens .stars svg {
  margin: 0 .2em;
}

header .itens span {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

section .client {
  display: flex;
  gap: 3.5em;
  margin-top: 6em;
  margin-bottom: 3em;
}

section .client .clients {
  border-radius: .7em;
  padding: 2em 2em;
  /* width: 30%; */
  margin: 0 auto;
  background-color: var(--Very-Dark-Magenta);

  position: relative;
}

section .client .clients.position-1 {
  position: absolute;
  left: 9%;
  top: 50%;
  width: 25%;
}

section .client .clients.position-2 {
  position: absolute;
  left: 36%;
  top: 53%;
  width: 25%;
}

section .client .clients.position-3 {
  position: absolute;
  left: 63%;
  top: 57%;
  width: 25%;
}

section .client .clients .introduction {
  display: flex;
}

section .client .clients .introduction img {
  border-radius: 50%;
  width: 4em;
  margin-right: 1.7em;
  margin-bottom: 1.5em;
}

section .client .clients .introduction .name .client-name {
  color: var(--Light-Grayish-Magenta);
  font-weight: bold;
  font-size: 1.1em;
}

section .client .clients .introduction .name .profission {
  color: var(--Soft-Pink);
}

section .client .clients .description {
  color: var(--Light-Grayish-Magenta);
}