* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
}

body * {
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
}

.container {
  width: 85%;
  margin: 3em auto 0;
}

header {
  display: flex;
  justify-content: space-between;

  position: relative;

  border: 1px solid red;
  margin-bottom: 2em;
}

.apresent {
  width: 50%;
}

header .title {
  font-size: 2.7em;
  margin-bottom: 1em;
  width: 50%;
  color: var(--Very-Dark-Magenta);
}

header .titleparagraph {
  word-spacing: .3em;
  width: 75%;
  color: var(--Dark-Grayish-Magenta);
  line-height: 1em;
}

header .itens {
  width: 60%;
}

header .itens ul {
  list-style: none;
}

header .first,
header .second,
header .third {
  height: 3.5em;
  padding: 1em 1.5em .7em;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: .5em;
  width: 33%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

header .first,
header .third {
  width: 31%;
}

header .itens .first {
  position: absolute;
  top: 7%;
  left: 50%;
}

header .itens .second {
  position: absolute;
  top: 39%;
  left: 55%;
}

header .itens .third {
  position: absolute;
  top: 72%;
  left: 60%;
}

header .itens .stars svg {
  margin: 0 .2em;
}

header .itens span {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

section {
  border: 1;
}